.chapter {
  padding: 6rem 2rem 4rem;
  font-family: "Adobe Garamond Pro", "Adobe Garamond", Garamond, serif;
  font-size: 2rem;
  line-height: 1.4;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.chapter h2 {
  margin-bottom: 4rem;
}
.chapter p {
  margin: 0;
  text-indent: 1.25em;
}

@media (min-width: 760px) {
  .chapter {
    padding: 6rem;
    font-size: 2.2rem;
  }
}
