.ReviewsContainer {
  margin: 6rem 0;
  overflow: hidden;
}
.ReviewsContainer h2 {
  margin-bottom: 6rem;
  text-align: center;
  font-size: 3rem;
}
.ReviewsContainer ul {
  list-style: none;
  margin: 0 auto 6rem;
  padding: 0;
}

.review {
  background: white;
  margin: 0;
  padding: 3rem;
  border-radius: 0.2rem;
  font-size: 1.8rem;
  transform: rotate(-1deg);
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.4);
  -webkit-column-break-inside: avoid;
  -webkit-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
.review:nth-of-type(2n) {
  transform: rotate(2deg);
}
.review:nth-of-type(3n) {
  transform: rotate(-3deg);
}
.review:nth-of-type(4n) {
  transform: rotate(3deg);
}
.review p {
  margin: 0 0 0.5em;
}
.review .byline {
  text-align: right;
  font-size: 1.4rem;
  font-weight: bold;
}
.review .byline::before {
  content: "—";
}

@media (min-width: 760px) {
  .ReviewsContainer {
    margin-top: 8rem;
  }
  .ReviewsContainer h2 {
    margin-bottom: 8rem;
    font-size: 4rem;
  }
  .ReviewsContainer ul {
    column-count: 2;
    column-gap: 0;
  }
  .ReviewsContainer ul.singleItem {
    columns: 1;
    max-width: 48rem;
  }
}

@media (min-width: 1000px) {
  .ReviewsContainer {
    margin-top: 12rem;
  }
  .review {
    padding: 4rem;
    font-size: 2.2rem;
  }
}
