/* book graphic */

.bookGraphic {
  padding: 4rem 0 0; /* to fit graphic transform */
  transform: scale(0.9);
}
.specs {
  margin-top: 6rem;
  font-size: 1.4rem;
}

/* book title */

.bookTitleContainer h1,
.bookTitleContainer h2 {
  margin-bottom: 0;
}
.bookTitleContainer h1 span,
.bookTitleContainer h2 span {
  display: block;
}
.title {
  color: #793120;
  font-size: 4rem;
}
.subtitle1 {
  margin: 0 0 3rem;
  color: #b0462d;
  text-shadow: 1px 2px 0 black;
}
.subtitle2,
.author {
  font-size: 3.6rem;
}

/* buy buttons */

.buyButtonsContainer {
  margin-bottom: 4rem;
  padding-top: 5rem;
}
.wholesaleMessage {
  margin-top: 6rem;
  font-size: 1.4rem;
  font-style: italic;
}

/* book summary */

.summaryContainer {
  clear: both;
  padding: 0 2rem;
  font-size: 2.2rem;
}

.excerptLink {
  margin: 4rem 0;
}

/* burning man */

.burningManContainer {
  margin: 6rem 0;
  padding: 2rem;
  font-size: 1.8rem;
}
.burningManContainer .callout {
  margin: 3rem 0;
  color: #6a4740;
  font-family: "Caveat", -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

/* media queries */

@media (max-width: 759px) {
  .specs {
    text-align: center;
  }
  .bookTitleContainer {
    margin: 0;
    text-align: center;
  }
  .bookTitleContainer h1,
  .bookTitleContainer h2 {
    margin-top: 0;
  }
  .subtitle2,
  .author {
    font-size: 2.8rem;
  }
  .buyButtonsContainer a {
    margin-left: auto;
    margin-right: auto;
  }
  .wholesaleMessage {
    padding: 0 2rem;
    text-align: center;
  }
  .summaryContainer {
    font-size: 1.8rem;
  }
  .burningManContainer h2 {
    font-size: 2.4rem;
  }
}

@media (min-width: 760px) {
  .bookGraphic {
    float: right;
    padding: 4rem 0;
  }
  .specs {
    padding-right: 2rem;
  }
  .bookTitleContainer {
    margin: 8rem 0 0;
    padding-left: 4rem;
  }
  .title {
    color: #793120;
    font-size: 6rem;
  }
  .subtitle1 {
    margin: 0 0 3rem 3rem;
    font-size: 5rem;
  }
  .author {
    margin-left: 8rem;
  }
  .buyButtonsContainer {
    margin-bottom: 8rem;
    padding-left: 3rem;
  }
  .summaryContainer {
    clear: both;
    font-size: 2.2rem;
  }
  .burningManContainer {
    margin: 6rem 0;
    padding: 12rem 2rem;
    font-size: 2.2rem;
  }
  .burningManContainer .inner {
    padding-left: 4rem;
  }
  .burningManContainer .callout {
    padding-left: 6rem;
    font-size: 4rem;
  }
}

@media (min-width: 1000px) {
  .bookGraphic {
    transform: scale(1);
  }
  .burningManContainer h2 {
    margin-left: -4rem;
  }
}
